{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="col-md-10">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3 class="mb-4 fw-bold border-bottom pb-2">📞 Contact Us</h3>

      <div class="card shadow p-4 rounded-4 border-0 mb-4">
        <h5 class="fw-semibold">📍 Address:</h5>
        <p>Pet World, 123 Pet Street, Animal City, India - 400001</p>

        <h5 class="fw-semibold mt-3">📧 Email:</h5>
        <p style="color: black;"> support@petworld.com</p>

        <h5 class="fw-semibold mt-3">📱 Phone:</h5>
        <p> +91 98765 43210 </p>

        <h5 class="fw-semibold mt-3">⏰ Working Hours:</h5>
        <p>Monday – Saturday: 10:00 AM – 6:00 PM<br>Sunday: Closed</p>
      </div>

      
    </div>
  </div>
</div>

{% endblock 'main' %}
