{% load header.html %}
        <!-- second div header (row) -->
        <div class="row"  >

         
         <div class="col-md-10 ">
          <div class="row ">
            <div class="col-md-3 " >
              <div class="card" style="width: 100%; margin-top: 15px;">
                <img src="{% static 'images/image.png' %}" class="card-img-top" height="350px">
                <div class="card-body">
                  <h5 class="card-title">TShirt</h5>
                  <h4>Mufti</h4>
                  <p class="card-text">Aesthatic Design</p>
                  <strong>&#8377;2,820</strong><br>
                  <a href="#" class="btn btn-danger">Details</a>
                  <a href="#" class="btn btn-primary">Add</a>
                </div>
              </div>

            </div>
            <!-- <div class="col-md-3 ">
              <div class="card" style="width: 100%;margin-top: 15px;">
                <img src="../images/70262200_9704568.jpg" class="card-img-top" height="350px">
                <div class="card-body">
                  <h5 class="card-title">TShirt</h5>
                  <h4>Mufti</h4>
                  <p class="card-text">Aesthatic Design</p>
                  <strong>&#8377;1500</strong><br>
                  <a href="#" class="btn btn-danger">Details</a>
                  <a href="#" class="btn btn-primary">Add</a>
                </div>
            </div>
            
          </div>
          <div class="col-md-3 ">
            <div class="card" style="width: 100%;margin-top: 15px;">
              <img src="../images/86644832_9657270 (1).jpg" class="card-img-top" height="350px">
              <div class="card-body">
                <h5 class="card-title">TShirt</h5>
                  <h4>Mufti</h4>
                  <p class="card-text">Aesthatic Design</p>
                  <strong>&#8377;3000</strong><br>
                  <a href="#" class="btn btn-danger">Details</a>
                  <a href="#" class="btn btn-primary">Add</a>
              </div>
          </div>

         </div>
         <div class="col-md-3 ">
          <div class="card" style="width: 100%;margin-top: 15px;">
            <img src="../images/86644843_9588109.jpg" class="card-img-top" height="350px">
            <div class="card-body">
              <h5 class="card-title">TShirt</h5>
                  <h4>Mufti</h4>
                  <p class="card-text">Aesthatic Design</p>
                  <strong>&#8377;2500</strong><br>
                  <a href="#" class="btn btn-danger">Details</a>
                  <a href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
        </div>
        <div class="col-md-3 ">
          <div class="card" style="width: 100%;margin-top: 15px;">
            <img src="../images/Watches-PCD_FT03_Watch-Ultra_MO.webp" class="card-img-top" height="350px">
            <div class="card-body">
              <h5 class="card-title">TShirt</h5>
                  <h4>Mufti</h4>
                  <p class="card-text">Aesthatic Design</p>
                  <strong>&#8377;2500</strong><br>
                  <a href="#" class="btn btn-danger">Details</a>
                  <a href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
        </div>
        <div class="col-md-3 ">
          <div class="card" style="width: 100%;margin-top: 15px;">
            <img src="../images/beautiful-luxury-mens-gold-watch-600nw-2311553491.webp" class="card-img-top" height="350px">
            <div class="card-body">
              <h5 class="card-title">TShirt</h5>
                  <h4>Mufti</h4>
                  <p class="card-text">Aesthatic Design</p>
                  <strong>&#8377;2500</strong><br>
                  <a href="#" class="btn btn-danger">Details</a>
                  <a href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
        </div>
        <div class="col-md-3 ">
          <div class="card" style="width: 100%;margin-top: 15px;">
            <img src="../images/5092a83e0c2c536344d1e0f1690ccb43.jpg" class="card-img-top" height="350px">
            <div class="card-body">
              <h5 class="card-title">TShirt</h5>
                  <h4>Mufti</h4>
                  <p class="card-text">Aesthatic Design</p>
                  <strong>&#8377;2500</strong><br>
                  <a href="#" class="btn btn-danger">Details</a>
                  <a href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
        </div>
        <div class="col-md-3 ">
          <div class="card" style="width: 100%;margin-top: 15px;">
            <img src="../images/image.png" class="card-img-top" height="350px">
            <div class="card-body">
              <h5 class="card-title">Watch</h5>
                  <h4>Tata</h4>
                  <p class="card-text">classic Design</p>
                  <strong>&#8377;9500</strong><br>
                  <a href="#" class="btn btn-danger">Details</a>
                  <a href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
        </div> -->
         <!-- third div header (row) -->
    </div>
    </div>
    </div>
